@use '../../../styles/variables.scss' as *;

.input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: $border-grey;
  padding: 0.8rem 0.1rem;
  font-size: 2rem;

  &:focus {
    border-bottom: $border-main-2;
  }
}
