.fields {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
