@use '../../../styles/variables.scss' as *;

.course {
  color: $color-grey-700;
  border: 1px solid $color-grey-700;
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1.3rem;
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-bottom: 0.7rem;

  & svg {
    font-size: 1.7rem;
  }
}

.container {
  border: 1px dashed #aeaeae;
  border-radius: 2rem;
  padding: 1.2rem 3rem;
}

.path {
  display: flex;
  gap: 1rem 0.8rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & li {
    font-weight: 700;
  }

  & > svg {
    font-size: 1.1rem;
  }
}
