@use '../../../styles/variables.scss' as *;

.wrapper {
  position: relative;
}

.btn {
  color: $color-grey-500;
  &:focus {
    & + .container {
      display: block;
    }
  }
}

.container {
  display: none;
  background: white;
  position: absolute;
  width: max-content;
  top: 1.5em;
  z-index: 2;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  border: 1px solid $color-grey-500;
  border-radius: 0.3rem;

  &.left {
    left: 1em;
    transform: translateX(-100%);
  }
  &.right {
    left: 0;
  }

  & p {
    color: $color-grey-500;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }
}
