@use '../../../styles/variables.scss' as *;

// .fields {
//   display: flex;
//   flex-direction: column;
//   gap: 2.5rem;
// }

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  margin-top: 3rem;
}
