@use '../../../styles/variables.scss' as *;

.field {
  & + .field {
    margin-top: $gap-form-field;
  }
}

.field:last-of-type {
  margin-bottom: 5rem;
}

.label {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;

  & .optional {
    font-size: 1.6rem;
    color: gray;
  }
}

.row {
  display: flex;
  gap: 1.2rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}
