@use '../../../styles/variables.scss' as *;

$gap-row: 1.2rem;

.field {
  & + .field {
    margin-top: 4rem;
  }
}

.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;

  & .optional {
    color: $color-grey-600;
  }
}

.row {
  display: flex;
  gap: $gap-row;
  flex-wrap: wrap;

  & .col {
    flex: 1 0 calc((100% - 2 * $gap-row) / 3);
  }
}

.bicycle-type {
  & .label + div {
    width: 100%;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
