.title {
  font-weight: 700;

  //   &.sm {
  //   }
  &.lg {
    // in 회원가입, 로그인 페이지
    font-size: 3.2rem;
    margin: 6.5rem 0 4.5rem 0;
  }
  &.md {
    // in 자전거 코스/모임 리스트 페이지
    font-size: 2.4rem;
    margin: 2.4rem 0;
  }
  &.sm {
    // in 자전거 코스/모임 디테일 부제목
    font-size: 2rem;
    margin: 4.5rem 0 1.2rem 0;
  }
}
