@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

.form {
  padding-bottom: 4rem;
  margin-top: 7.5rem;
  overflow-y: scroll;
  position: relative;
}

.img-wrapper {
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#img {
  display: none;

  & + label {
    cursor: pointer;
    background: $color-grey-200;
    border-radius: 0.4rem;
    color: $color-grey-600;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.3rem 0.7rem;
    position: absolute;
    top: 2rem;
    left: 2.5rem;

    & svg {
      font-size: 2.2rem;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  padding: 1rem;
  margin-top: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 2.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  :global .react-datepicker__tab-loop {
    position: absolute;
  }
}

.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  & .guide {
    font-size: 1.4rem;
    color: $color-grey-500;
  }
}

.riding-skill {
  & .label {
    & svg {
      font-size: 2rem;
    }
  }
}

.options {
  $options-gap: 1.2rem;

  display: flex;
  gap: $options-gap;
  flex-wrap: wrap;

  & .col {
    flex-basis: calc((100% - 2 * $options-gap) / 3);
  }
}

.date-input {
  cursor: pointer;
  background: $color-grey-100;
  padding: 1.4rem 1.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;

  & input {
    cursor: inherit;
    flex-grow: 1;
    outline: none;
  }

  & svg {
    font-size: 2rem;
    color: $color-grey-700;
  }
}

.path {
  & .stops {
    display: flex;
    gap: 0.6rem 0.5rem;
    flex-wrap: wrap;
    align-items: center;

    & li {
      font-weight: 700;
    }

    & > svg {
      font-size: 1rem;
    }
  }
}

.birthYear {
  & .option {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  & .select {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & .tilde {
    font-size: 2rem;
  }
}

.maxNumOfParticipants,
.participationFee {
  & .option,
  .regulator {
    display: flex;
    align-items: center;
  }

  & .option {
    gap: 2.5rem;
  }

  & .regulator {
    flex-grow: 1;
    background: $color-grey-100;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 0.3rem;
  }
}

.number {
  flex-grow: 1;
  text-align: center;
}

.btn {
  margin-top: 3rem;
  text-align: center;
}
