@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.roads {
  display: flex;
  flex-direction: column;
  max-width: 34.5rem;
  margin: 0 auto;
}

.func {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.filter-order {
  display: flex;
  font-size: 1.4rem;
  // justify-content: space-between;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  @include for-tablet-landscape-up {
    margin-bottom: 1rem;
  }
}

.contents {
  margin-top: 1.5rem;
}
