@use '../../../styles/variables.scss' as *;

.sort {
  position: relative;
  .select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $color-grey-600;
    font-weight: 500;
    &:focus {
      outline: none;
    }
  }

  .options.hidden {
    display: none;
  }

  .options {
    display: flex;
    flex-direction: column;
    width: 10rem;
    position: absolute;
    top: 2.43rem;
    right: 0;
    z-index: 1;
    background-color: white;
    border: $border-grey;
    border-radius: 0.3rem;
  }
}
