@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.container {
  padding-bottom: 6rem;
}

.img-wrapper {
  width: calc(100% + 2 * $side-padding);
  position: relative;
  right: $side-padding;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;

  @include for-desktop-up {
    width: auto;
    position: static;
    right: 0;
    height: 25rem;
    margin-top: $side-padding;
  }

  &.default {
    background-position: center 40%;
  }
}

.title-wrapper {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  word-break: break-all;
}

.bookmark-btn {
  font-size: 2.4rem;
  color: $color-grey-600;
}

.leader {
  display: flex;
  align-items: center;

  & .leader__avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  & .leader__nickname {
    color: $color-grey-800;
    font-weight: 600;
    font-size: 1.7rem;
  }

  & .leader__manner {
    color: $color-main;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
}

.fields-section {
  margin-top: 3rem;
  color: $color-grey-800;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.field {
  display: flex;
  gap: 2rem;
  padding: 0.9rem 0;

  & + .field {
    border-top: 1px solid $color-grey-300;
  }

  & .label {
    width: 9.1rem;
    flex-shrink: 0;
  }

  & ul.data {
    display: flex;
    gap: 0.5rem;
  }

  & .emphasized {
    color: $color-main;
    font-weight: 700;
  }
}

.bicycle-types {
  & ul {
    flex-wrap: wrap;
  }
}

.content-section {
  margin-top: 3rem;
  color: $color-grey-800;

  & .content {
    line-height: 1.5;
    white-space: pre-wrap;
    background: #f8f8f8;
    padding: 1rem 1.2rem;
    border-radius: 0.3rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  gap: 1rem;
  margin: 4rem 0 1.5rem 0;

  & .subtitle__num {
    color: $color-grey-500;
  }
}

.route-section {
  margin-bottom: 1.5rem;
}

.map-section {
  & .notice {
    margin-top: 0.5em;
    font-size: 1.3rem;
    color: $color-grey-500;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: flex-end;
  }
}

.participants-section {
  & .current {
    color: $color-main;
  }
}
