@use '../../../styles/variables.scss' as *;

.path {
  display: flex;
  gap: 0.5rem 0.4rem;
  flex-wrap: wrap;
  align-items: center;

  & li {
    font-weight: 700;
    cursor: default;
  }

  & > svg {
    font-size: 1rem;
  }
}
