@use '../../../styles/variables.scss' as *;

.wrapper {
  color: $color-red;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Noto Sans KR', sans-serif;

  & p {
    font-size: 1.3rem;
  }
}
