@use '../../../styles/variables.scss' as *;

.info-wrapper {
  margin: 6rem 0 3rem 0;
  text-align: center;

  & svg {
    font-size: 6rem;
    color: $color-main;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2.5rem 0 2rem 0;
}

.info {
  color: $color-grey-700;
  line-height: 1.3;
}
