@use '../../../styles/variables.scss' as *;

.container {
  position: relative;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-size: 1.4rem;

  & + .container {
    border-top: $border-grey;
  }

  & a:hover {
    & .title {
      color: $color-main;
    }
  }
}

.title {
  font-size: 1.6rem;
  color: $color-grey-800;
  margin-bottom: 1rem;
}

.content {
  color: $color-grey-600;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.img {
  width: min(30%, 15rem);
  object-fit: cover;
  border: 1px solid $color-grey-300;
  border-radius: 0.3rem;
}
