@use '../../../styles/variables.scss' as *;

.container {
  flex-grow: 1; // 중요
  display: flex;
}

.text {
  flex-grow: 1;
  padding: 1.4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}

.date-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.meeting-date {
  color: $color-grey-800;
  font-size: 1.4rem;
}

.due-date {
  color: $color-grey-600;
  font-size: 1.2rem;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.details {
  font-size: 1.4rem;
  color: $color-grey-600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detail {
  display: flex;

  & .label {
    width: 8rem;
    flex-shrink: 0;
  }

  & .data {
    font-weight: 700;
  }
  & ul.data {
    display: flex;
    gap: 0 0.5rem;
    flex-wrap: wrap;
  }

  & .emphasized {
    color: $color-main;
  }
}

.img {
  width: min(40%, 15rem);
  aspect-ratio: 0.85;
  object-fit: cover;
}
