@use '../../../styles/variables.scss' as *;

.boundary {
  position: relative;
}

.toggle-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: $color-grey-600;

  & span {
    font-weight: 600;
  }

  & svg {
    color: $color-grey-500;
    position: relative;
    bottom: 0.2rem;
  }
}

.board-container {
  &.hidden {
    display: none;
  }
}
