@use '../../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  font-size: 2rem;
  color: $color-grey-400;
}

.current {
  color: $color-grey-600;
}
