@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

.boundary {
  position: relative;
}

.toggle-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: $color-grey-600;

  & span {
    font-weight: 600;
  }

  & svg {
    color: $color-grey-500;
    font-size: 1.4rem;
  }

  // @include for-tablet-landscape-up {
  //   gap: 0.5rem;
  //   & span {
  //     font-size: 1.6rem;
  //   }
  //   & svg {
  //     font-size: 1.4rem;
  //   }
  // }
}

.content-container {
  &.hidden {
    display: none;
  }
}
