@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

.container {
  width: calc(100% - 2 * $side-padding);
  margin: 0 auto;

  @include for-desktop-up {
    width: 120rem;
  }
}
