@use '../../../styles/variables.scss' as *;

.fields {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.auto-login-wrapper {
  display: flex;
  align-items: center;
  color: $color-grey-800;
  margin: 3rem 0 1.5rem 0;

  & label {
    cursor: pointer;
    margin-left: 0.3em;
  }
}
