@use '../../../styles/variables.scss' as *;

.field {
  & + .field {
    margin-top: 3rem;
  }
}

// .fail {
//   margin-top: 1.5rem;
// }

.auto-login {
  color: $color-grey-800;
  margin: 3.2rem 0 0.5rem 0;
}
