@use '../../../styles/variables.scss' as *;

.input {
  outline: none;
  border: none;
  border-bottom: $border-grey;
  padding: 0.8rem 0.1rem;
  font-size: 2rem;

  &:focus {
    border-bottom: $border-main-2;

    & + .help {
      display: block;
    }
  }

  &.error {
    border-bottom: $border-red;
  }
}

.help {
  display: none;
  color: $color-main;
  font-size: 1.3rem;
  margin-top: 0.2rem;
}
