@use '../../styles/variables.scss' as *;

.road {
  display: flex;
  flex-direction: column;
  max-width: 34.5rem;
  margin: 0 auto;
  padding-top: 0.6rem;
  position: relative;
}

.head {
  display: flex;
  gap: 2rem;
  .left {
    width: 88%;
  }
  .right {
    width: 3rem;
  }
}

.title-sigun {
  color: $color-main;
}

.disc {
  color: $color-grey-400;
  margin: 0 0.4rem;
}

.info-top,
.info-bottom {
  display: flex;
  margin-top: 0.5rem;
}

.review-title {
  display: flex;
  .cnt {
    margin-top: 4.5rem;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $color-grey-500;
  }
}

.review-summary {
  margin: 1.5rem 0 1.1rem 0;
  span {
    &:first-child {
      font-size: 1.4rem;
      font-weight: 1.7rem;
      color: $color-grey-800;
      margin-right: 0.65rem;
    }
    &:nth-child(2) {
      font-size: 2.6rem;
      line-height: 3.1rem;
      font-weight: 700;
    }
    &:last-child {
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $color-grey-500;
      margin-left: 0.3rem;
    }
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}
