@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

.bookmark-btn {
  font-size: 2.4rem;
  color: $color-grey-600;
}

.container {
  background: white;
  padding: 1.5rem $side-padding;
  border-top: 1px solid $color-grey-200;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-desktop-up {
    padding: 1.5rem calc((100vw - $max-width-page) / 2.5);
  }

  & > div {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    & p {
      color: $color-grey-800;
    }
  }

  & .join-btn {
    background: $color-main;
    color: white;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    flex-shrink: 0;

    &:disabled {
      @include disableButton;
    }
  }
}
