@use '../../../styles/variables.scss' as *;

.options {
  display: flex;
}

.option {
  display: flex;
  align-items: center;
  width: 50%;
  color: $color-grey-800;
  font-size: 1.6rem;
  font-weight: 500;
}

.top {
  padding: 1.2rem 2.4rem 0.6rem 2.4rem;
}

.bottom {
  padding: 0.6rem 2.4rem 1.2rem 2.4rem;
}
