@use '../../../styles/variables.scss' as *;

.header {
  padding: 0.6rem 0;
  border-bottom: 1px solid $color-grey-300;
  position: relative;
  z-index: 10;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo {
  width: 7.5rem;
}

.toggleBtn,
.login,
.mypage {
  color: $color-main;
  font-size: 2.5rem;
}

.wrapper {
  border-bottom: $border-main-1;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 6.5rem;
  font-size: 2.5rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-main;
  position: relative;
}

.input {
  border: $border-main-1;
  font-size: 2rem;
  width: 100%;
  padding: 1rem 1.6rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-main;
  }
}

.menus-container {
  display: flex;
  flex-direction: column;
}

.menus {
  padding: 1.4rem 0;
}

.icon {
  position: absolute;
  right: 3.2rem;
}
