@use '../../../styles/variables.scss' as *;

.container {
  max-width: $max-width-page;
  margin: 0 auto;
  height: 50rem;
}

.overlay {
  background: white;
  color: $color-grey-600;
  padding: 0.2rem 0.4rem;
  border: 1px solid $color-grey-500;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  top: 0.1rem;
}
