@use '../../../styles/variables.scss' as *;

.container {
  max-width: $max-width-page;
  margin: 0 auto;
  height: 50rem;
}

.overlay {
  background: white;
  color: $color-grey-600;
  padding: 0.2rem 0.4rem;
  border: 1px solid $color-grey-500;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;

  &.gather,
  &.start,
  &.arrive {
    border: none;
    color: white;
  }

  &.gather {
    background: #ef00b3;
  }
  &.start {
    background: #d6180c;
  }
  &.arrive {
    background: #2654c9;
  }
}
