@use '../../../styles/variables.scss' as *;

@mixin color($color) {
  @if $color == main {
    background: $color-main;
    color: white;
  } @else if $color == whiteGrey {
    background: white;
    color: $color-grey-600;
    border: $border-grey;
  } @else if $color == whiteMain {
    background: white;
    border: $border-main-1;
    color: $color-main;
  }
}

.btn {
  padding: 1.2rem;
  border-radius: 0.6rem;
  font-weight: 700;

  &.main {
    @include color(main);
  }
  &.whiteGrey {
    @include color(whiteGrey);
  }
  &.whiteMain {
    @include color(whiteMain);
  }

  &.md {
    width: 16.5rem;
  }
  &.lg {
    width: $width-flexible-mobile;
  }
}
