@use '../../../styles/variables.scss' as *;

.textarea {
  background: $color-grey-100;
  padding: 1em 1.1em;
  border: none;
  border-radius: 0.3rem;
  line-height: 1.5;
}

.readOnly {
  color: $color-grey-500;
}
