@use '../../../styles/variables.scss' as *;

.option {
  cursor: pointer;
  border: 1px solid $color-grey-300;
  border-radius: 0.2rem;
  padding: 0.5rem 0.7rem;
  background: white;
  color: $color-grey-800;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.active {
    border: 1px solid $color-main;
  }

  & span {
    font-size: 1.4rem;
  }
}

.x-btn {
  font-size: 1.1rem;

  &.hidden {
    display: none;
  }
}
