@use '../../../styles/variables.scss' as *;

.wrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  & > svg {
    color: $color-main;
    font-size: 6rem;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 2.5rem 0 2rem 0;
}

.info {
  color: $color-grey-700;
  line-height: 1.3;
  margin-bottom: 3rem;
}
