@use './variables.scss' as *;

@mixin auth-page {
  width: $width-flexible-mobile;
  // TODO: 정렬
  position: absolute;
  // top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

/* Media queries */
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
