@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin horizontal-alignment {
  $side-padding: 1.5rem;

  width: calc(100% - 2 * $side-padding);
  margin: 0 auto;

  @include for-desktop-up {
    width: 120rem;
  }
}
