/* @use '../../../styles/variables.scss' as *; */

:root {
  --color-white: #f5f5f5;
  --color-main: #22b573;
  --color-grey-600: #757575;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination li:first-child,
li:last-child,
li:nth-child(2),
li:nth-child(8) {
  font-size: 1.7rem;
}

/* ul.pagination li:last-child {
  border: none;
} */

ul.pagination li a {
  text-decoration: none;
  color: var(--color-grey-600);
}

ul.pagination li.active a {
  color: var(--color-white);
}

ul.pagination li.active {
  background-color: var(--color-main);
  border-radius: 50%;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: var(--color-main);
}

ul.pagination li a.undefined:hover {
  color: var(--color-white);
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
