@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  color: $color-main;
  font-weight: 700;
  display: flex;
  gap: 0.2rem;
  align-items: center;

  & svg {
    font-size: 1.7rem;
  }

  & span {
    text-decoration: underline;
  }
}

.filter-order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.meetups-wrapper {
  display: flex;
  justify-content: center;

  // TODO
  @include for-tablet-landscape-up {
    justify-content: center;
  }
}
