@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  @include for-tablet-landscape-up {
    margin-bottom: 1rem;
  }
}

.meetups-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  @include for-tablet-landscape-up {
    justify-content: center;
  }
}
